/os/linux/yazi/plugins/*
/os/linux/kicad/10.0/installed_packages.json
/os/linux/OrcaSlicer/log/*
/os/linux/OrcaSlicer/cache
/shell/zsh/.zim/modules/
/os/linux/tmux/plugins/*
/os/linux/opencode/opencode-notifier-state.json
/os/linux/opencode/opencode-notifier-state.json
/.atl
/os/linux/herdr/herdr-server.log
/os/linux/opencode/.gentle-ai-telemetry-runtime.json
/os/linux/opencode/.gentle-ai-default-agent.json
/os/linux/herdr/session-snapshots
/os/linux/herdr/session.json
/os/linux/herdr/herdr-client.log
/os/linux/herdr/plugins/github/local.subscription-usage-42aaf3aaed6d
/os/linux/herdr/plugins.json
