/os/linux/yazi/plugins/*
/os/linux/kicad/10.0/installed_packages.json
/os/linux/OrcaSlicer/log/*
/os/linux/OrcaSlicer/cache
/shell/zsh/.zim/modules/
/os/linux/tmux/plugins/*
/os/linux/opencode/opencode-notifier-state.json
/os/linux/opencode/opencode-notifier-state.json
/.atl
