@define-color white         #edeff0;
@define-color darker_black  #060809;
@define-color black         #0c0e0f;
@define-color lighter_black #121415;
@define-color one_bg        #161819;
@define-color one_bg2       #1f2122;
@define-color one_bg3       #27292a;
@define-color grey          #343637;
@define-color grey_fg       #3e4041;
@define-color grey_fg2      #484a4b;
@define-color light_grey    #505253;
@define-color red           #DF5B61;
@define-color baby_pink     #EE6A70;
@define-color pink          #e8646a;
@define-color line          #1b1d1e;
@define-color green         #78B892;
@define-color vibrant_green #81c19b;
@define-color nord_blue     #91d7e3;
@define-color blue          #6791C9;
@define-color yellow        #ecd28b;
@define-color sun           #f6dc95;
@define-color purple        #c58cec;
@define-color dark_purple   #BC83E3;
@define-color teal          #70b8ca;
@define-color orange        #e89982;
@define-color cyan          #67afc1;
@define-color statusline_bg #101213;
@define-color lightbg       #1d1f20;
@define-color pmenu_bg      #78B892;
@define-color folder_bg     #6791C9;
@define-color text          #cad3f5;
