[Desktop Entry]
Categories=Graphics;Science;Education;Engineering;X-CNC;
Comment=Feature based Parametric Modeler
Exec=freecad
GenericName=CAD Application
Icon=org.freecad.FreeCAD
MimeType=application/x-extension-fcstd;model/obj;image/vnd.dwg;image/vnd.dxf;model/vnd.collada+xml;application/iges;model/iges;model/step;model/step+zip;model/stl;application/vnd.shp;model/vrml;
Name=FreeCAD Nvidia
NoDisplay=false
Path=
PrefersNonDefaultGPU=true
StartupNotify=true
StartupWMClass=FreeCAD
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
